include:
- local: pipeline/docker.yaml
- component: $CI_SERVER_FQDN/uniget-org/components/renovate@renovate/1.0.5
  inputs:
    rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" && $SCHEDULED_JOB == "renovate"
    - if: $CI_PIPELINE_SOURCE == "web" && $SCHEDULED_JOB == "renovate"
    token_variable_name: RENOVATE_TOKEN
    github_token_variable_name: RENOVATE_GITHUB_TOKEN

test:
  rules:
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  - if: $CI_COMMIT_TAG =~ /^v/
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  trigger:
    include: pipeline/test.yaml
    strategy: depend

provenance:
  rules:
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  - if: $CI_COMMIT_TAG =~ /^v/
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  variables:
    RUNNER_GENERATE_ARTIFACTS_METADATA: "true"
  script: |
    docker buildx bake binary
  artifacts:
    paths:
    - "uniget"
    - "*-metadata.json"

release_notes:
  rules:
  - if: $CI_COMMIT_TAG =~ /^v/
  image: registry.gitlab.com/uniget-org/cli:noble
  variables:
    GIT_DEPTH: 0
    GLAB_SEND_TELEMETRY: 0
  before_script: |
    uniget install glab 
    glab auth login --hostname="${CI_SERVER_HOST}" --job-token="${CI_JOB_TOKEN}"
  script: |
    bash scripts/release-notes-gitlab.sh >release-notes.md
  artifacts:
    paths:
    - release-notes.md

release:
  rules:
  - if: $CI_COMMIT_TAG =~ /^v/
  needs:
  - test
  - release_notes
  extends:
  - .docker
  - .docker:dind
  id_tokens:
    SIGSTORE_ID_TOKEN:
      aud: sigstore
  variables:
    GIT_DEPTH: 0
  before_script: |
    if ! test -s release-notes.md; then
      echo "Release notes not found"
      exit 1
    fi
  script:
  - test -n "$CI_SERVER_HOST"
  - test -n "$CI_JOB_TOKEN"
  - test -n "$GITLAB_TOKEN"
  - test -n "$SIGSTORE_ID_TOKEN"
  - |
    docker buildx build \
        --target=publish-gitlab \
        --build-arg=CI_SERVER_HOST \
        --build-arg=CI_JOB_TOKEN \
        --build-arg=GITLAB_TOKEN \
        --build-arg=SIGSTORE_ID_TOKEN \
        .

images:
  rules:
  - if: $CI_COMMIT_TAG =~ /^v/
    needs:
    - release
    variables:
      PUSH: "true"
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    changes:
    - Dockerfile
    variables:
      PUSH: "false"
  - if: $CI_PIPELINE_SOURCE == "web"
    variables:
      PUSH: "true"
  - if: $CI_PIPELINE_SOURCE == "schedule" && $SCHEDULED_JOB == "daily_rebuild"
    variables:
      PUSH: "true"
  trigger:
    include: pipeline/image.yaml
    strategy: depend
