name: build-go

on:
  push:
    tags-ignore:
    - "v*"
    paths:
    - "**/*.go"
    - "go.mod"
    - "go.sum"
    - "make/go.mk"
    - ".github/workflows/build-go.yml"
  workflow_dispatch:

jobs:

  build-go:
    name: build-go
    runs-on: ubuntu-22.04
    steps:

    - name: Checkout code
      uses: actions/checkout@v3
      with:
        ref: ${{ needs.prepare.outputs.tag }}

    - name: Build binary
      run: |
        docker buildx bake binary

    - name: Smoke test
      run: |
        ./uniget --version
